:root {
  --primary: #000000;
  --primary2: #F2F3F5;
  --primary3: #FAB110;
  --bg: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  background-color: var(--primary2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary);
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-weight: 900;
}


.navbar .navbar-nav a {
  color: var(--primary);
  display: inline-block;
  font-size: 1rem;
  margin: 0 24px;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--primary);
  margin: 0 0.5rem;
}

.navbar .navbar-extra input {
  border: 1px solid var(--primary);
  border-radius: 15px;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* NAVBAR SHOPPING CART */
#shopping-cart-button{
  position: relative;
}

#shopping-cart-button .quantity-badge{
  display: inline-block;
  padding: 1px 5px;
  background-color: var(--primary3);
  color: var(--bg);
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  right: -10;
  top: 0;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 30rem;
  padding: 0 1.5rem;
  color: var(--primary);
  background-color: var(--primary2);
  transition: 0.3s;
}

.shopping-cart.active{
  right: 0;
}

.shopping-cart .cart-item{
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #666 ;
  position: relative;
}


.shopping-cart img {
  height: 4rem;
}

.shopping-cart h3 {
  font-size: 1.4rem;
}

.shopping-cart .item-price{
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: black;
  color: var(--bg);
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
}

/* Checkout Form */
.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  margin-top: 1rem;
  padding: 1rem;
}

.form-container h5 {
  text-align: center;
  font-size: 1rem;
}

.form-container form {
  width: 100%;
  text-align: center;
}

.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-container span{
  text-align: right;
}

.form-container input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: var(--primary);
  color: var(--bg);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../img/Hero-Image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 30px;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 55px;
  color: var(--primary);
  line-height: 1.2;
  font-family: "Poppins";
  margin-bottom: 30px;
}

.hero .content p{
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.4rem;
  font-weight: 400;
  color: var(--primary);
  width: 60%;
}

.hero .content .cta {
  margin-top: 40px;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 20px;
  font-weight: bold;
  color: var(--bg);
  background-color: var(--primary3);
}

/* ABOUT SECTION */
.about,
.products,
.contact {
  padding: 50px 7% 1.4rem;
  font-family: "Poppins";
}

.about h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
  font-family: 'Poppins';
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 43rem;
}

.about .row .about-img img {
  width: 90%;
}

.about .row .content {
  flex: 1 1 37rem;
}

.about .row .content p {
  font-size: 19px;
  margin-bottom: 0.8rem;
  font-weight: 400;
  line-height: 1.6;
}


/* PRODUCT SECTION */
.products .row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  margin-top: 10rem;
}

.products .product-card{
  background-color: var(--primary2);
  width: 350px;
  height: 265px;
  position: relative;
  overflow: visible;
  padding: 20px;
}

.products .product-quote{
  margin-bottom: 40px;
}

.products .product-icons {
  display: flex;
  gap: 0.5rem;
}

.products .product-icons a{
  width: 130px;
  height: 40px;
  color: var(--bg);
  background-color: var(--primary3);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icons a:hover{
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.products .product-image {
  padding: 1rem 0;
  display: flex;
  padding-right: 0px;
  position: absolute;
  top: -40%;
  left: 50%;
  width: 150px;
  justify-content: end;

}

.products .product-image img{
  height: 160px;
}

.products .product-category{
font-size: 18px;
background-color: var(--bg);
width: 80px;
border-radius: 15px;
display: flex;
justify-content: center;
font-weight: 600;
margin-bottom: 40px;
}

.products .product-stars{
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.products .product-stars .star-full{
  fill: var(--primary);
}

.products .product-price{
  font-size: 1.3rem;
  font-weight: bold;
}

/* CONTACT SECTION */
.contact .row {
  display: flex;
}

.contact .row .map {
  flex: 1 1 43rem;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 37rem;
  text-align: center;
  padding-left: 40px;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: var(--bg);
  padding-left: 2rem;
  background-color: var(--primary2);
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 18px;
  background: none;
  color: var(--primary);
}

.contact .row form .btn {
  margin-top: 25px;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 600px;
  font-size: 20px;
  font-weight: bold;
  color: var(--bg);
  background-color: green;
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: var(--primary2);
  text-align: center;
  padding: 1rem 0 1rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: var(--primary);
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--primary3);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: var(--primary);
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  color: var(--primary);
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
}

/* MEDIA QUERIES*/

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

.navbar .search-form {
  width: 90%;
  right: 2rem;
}

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
